doctype html
-  let mlist = ["January",  "February",  "March",  "April",  "May",  "June",  "July",  "August",  "September",  "October",  "November",  "December",];
-  function formatDate(date) {  return (date.getDate() + " " + mlist[date.getMonth()] + " " + date.getFullYear());}
-  function getMonth(date){return mlist[date.getMonth()] }
-  information = (information ? information :{});
head
  meta(charset='utf-8')
  meta(name='description' content='')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='keywords' content='Bootstrap4, Multipurpose, responsive, Business, template,Shipping, Cargo, logistic, html5, css, javascript, web24service')
  meta(name='author' content='web24service')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  block title
    title
        | Page Title
body
   
  block maincontent

  block customJS
